
/*Categorias pag principal  */
.categorias {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.categorias .container  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 160px;
    background-color: #24a8a1;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.container:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.container a{
    color:white;
    text-align:center;
    line-height: 100px;

}
.categorias .container:hover {
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.ropa {
    display: flex;
    flex-direction: column;
    width: 270px;
}


.ropa div {
    text-align: center;
    height: 70px;
    background-color: #24a8a1;
    margin: 10px;
    border-radius: 10px;
    transition: all 300ms;
    text-transform: uppercase;
    color:white;
}
.ropaHombre:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.ropaMujer:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.ropa div:hover {
    cursor: pointer;
    color: white;
}