
/*Categorias pag principal  */
.categorias {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.categorias .container  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 160px;
    background-color: #24a8a1;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.container:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.container a{
    color:white;
    text-align:center;
    line-height: 100px;

}
.categorias .container:hover {
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.ropa {
    display: flex;
    flex-direction: column;
    width: 270px;
}


.ropa div {
    text-align: center;
    height: 70px;
    background-color: #24a8a1;
    margin: 10px;
    border-radius: 10px;
    transition: all 300ms;
    text-transform: uppercase;
    color:white;
}
.ropaHombre:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.ropaMujer:hover{
    background-color: #3dc4bb;
    transform:scale(1.1);
}
.ropa div:hover {
    cursor: pointer;
    color: white;
}
#sectionSlider{
    margin:50px 30px ;
}


.carouselContainer {
    position: relative;
    width: auto;
    height: 600px;
    margin:0 auto;
    background-color: #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    overflow: hidden;

}

.carruseles {
    width: 100%;
    height: 100%;
    display: flex;
    transition:transform 0.5s ease-in-out;


}

.sliderSection {
    min-width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}

/* Imagenes contenidas en el slider */
.sliderSection img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    
}


.botonizq,
.botonder {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    /* para que sea redondo el boton */
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transform: translate(0, -50%);
    transition: 0.5s ease;
    user-select: none;
    border:none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.botonizq {
    left: 10px;

}

.botonder {
    right: 10px;
}

.botonizq:hover,
.botonder:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(-50%) scale(1.1);

    
}
