
.objetivo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin: 10px;
    gap: 10px;
}

.objetivo img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: solid 3px #1a8783;
    transition: all ease-in-out 0.5s;
}

.objetivo img:hover {
    width: 35%;
    cursor: pointer;
}